@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.woff'), url('../fonts/SegoeUI.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Segoe UI Light';
    src: url('../fonts/SegoeUI-Light.woff'), url('../fonts/SegoeUI-Light.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Segoe UI SemiBold';
    src: url('../fonts/SegoeUI-SemiBold.woff'), url('../fonts/SegoeUI-SemiBold.woff2');
    font-weight: 400;
}
/*-----------------------Начало "Общие стили"------------------------*/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
button, input {
    outline: none;
    border: none;
}
body {
    margin: 0;
    font-family: 'Segoe UI', arial, sans-serif;
}
.template-width {
    max-width: 1170px;
    margin: 0 auto;
}
* {
    /*outline: 1px solid red;*/
}
.justify {
    line-height: 0;
    font-size: 1px;
    text-align: justify;
}
.justify::after {
    display: inline-block;
    content: "";
    width: 100%;
    line-height: 0;
    height: 0;
    font-size: 0;
    margin-top: -1px;
    visibility: hidden;
    overflow: hidden;
}
.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}
body {
    margin: 0;
    font-family: 'Segoe UI', arial, sans-serif;
    background-color: #353f46;
    font-size: 16px;
}
/*-----------------------Конец "Общие стили"------------------------*/

/*-----------------------Начало Header------------------------*/
.header {
    width: 100%;
    background-color: rgba(53, 63, 70, 0.85);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header__wrap {
    padding: 64px 0 59px;
}
.header__logo {
    float: left;
}
.header__logo-link {
    display: inline-block;
    width: 127px;
    height: 23px;
    background: url("../img/logo.png") center center no-repeat;
}
.header__top-nav {
    float: right;
}
.top-nav__item {
    display: inline-block;
}
.top-nav__link {
    transition: ease-in-out 0.3s;
    opacity: 0.9;
    color: #ffffff;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 18px 6px 19px;
    position: relative;
}
.top-nav__link::after {
    transition: ease-in-out 0.3s;
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #4bcaff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
}
.top-nav__link:hover {
    color: #4bcaff;
}
.top-nav__link:hover::after {
    width: 73%;
}
.active {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}
.active:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}
.active:hover::after {
    display: none;
}
/*-----------------------Конец Header------------------------*/

/*---------------------------Начало блока banner---------------------------*/
.banner {
    max-width: 1920px;
    height: 800px;
    background: url("../img/bckg01.jpg") center center no-repeat;
}
.banner__wrap {
    padding: 400px 0 258px;
    text-align: center;
}
.banner__title {
    color: #ffffff;
    font-size: 42px;
    line-height: 0;
    text-transform: uppercase;
    font-family: 'Segoe UI Light', arial, sans-serif;
    vertical-align: middle;
}
.banner__title span {
    background-color: rgba(53, 63, 70, 0.85);
    display: inline-block;
    line-height: 65px;
    height: 65px;
    padding: 0 18px;
    /*vertical-align: middle;*/
}
.banner__title span:first-child {
    margin-bottom: 12px;
}
/*---------------------------Конец блока banner---------------------------*/

/*---------------------------Начало блока services---------------------------*/

/*---------------------------Конец блока services---------------------------*/