@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.woff'), url('../fonts/SegoeUI.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Segoe UI Light';
    src: url('../fonts/SegoeUI-Light.woff'), url('../fonts/SegoeUI-Light.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Segoe UI SemiBold';
    src: url('../fonts/SegoeUI-SemiBold.woff'), url('../fonts/SegoeUI-SemiBold.woff2');
    font-weight: 400;
}
/*-----------------------Начало "Общие стили"------------------------*/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
button, input {
    outline: none;
    border: none;
}
body {
    margin: 0;
    font-family: 'Segoe UI', arial, sans-serif;
}
.template-width {
    max-width: 1170px;
    margin: 0 auto;
}
* {
    /*outline: 1px solid red;*/
}
.justify {
    line-height: 0;
    font-size: 1px;
    text-align: justify;
}
.justify::after {
    display: inline-block;
    content: "";
    width: 100%;
    line-height: 0;
    height: 0;
    font-size: 0;
    margin-top: -1px;
    visibility: hidden;
    overflow: hidden;
}
.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}
body {
    margin: 0;
    font-family: 'Segoe UI', arial, sans-serif;
    background-color: #353f46;
    font-size: 16px;
}
/*-----------------------Конец "Общие стили"------------------------*/

/*-----------------------Начало Header------------------------*/
.header {
    width: 100%;
    background-color: rgba(53, 63, 70, 0.85);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.header__wrap {
    padding: 64px 0 59px;
}
.header__logo {
    float: left;
}
.header__logo-link {
    display: inline-block;
    width: 127px;
    height: 23px;
    background: url("../img/logo.png") center center no-repeat;
}
.header__top-nav {
    float: right;
}
.top-nav__item {
    display: inline-block;
}
.top-nav__link {
    transition: ease-in-out 0.3s;
    opacity: 0.9;
    color: #ffffff;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 18px 6px 19px;
    position: relative;
}
.top-nav__link::after {
    transition: ease-in-out 0.3s;
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #4bcaff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
}
.top-nav__link:hover {
    color: #4bcaff;
}
.top-nav__link:hover::after {
    width: 73%;
}
.active {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}
.active:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}
.active:hover::after {
    display: none;
}
/*-----------------------Конец Header------------------------*/

/*---------------------------Начало блока banner---------------------------*/
.banner {
    max-width: 1920px;
    height: 800px;
    background: url("../img/bckg01.jpg") center center no-repeat;
}
.banner__wrap {
    padding: 400px 0 258px;
    text-align: center;
}
.banner__title {
    color: #ffffff;
    font-size: 42px;
    line-height: 0;
    text-transform: uppercase;
    font-family: 'Segoe UI Light', arial, sans-serif;
    vertical-align: middle;
}
.banner__title span {
    background-color: rgba(53, 63, 70, 0.85);
    display: inline-block;
    line-height: 60px;
    height: 65px;
    padding: 0 18px;
    /*vertical-align: middle;*/
}
.banner__title span:first-child {
    margin-bottom: 12px;
}
/*---------------------------Конец блока banner---------------------------*/

/*---------------------------Начало блока services---------------------------*/
.services {
    width: 100%;
    background-color: #4bcaff;
}
.services__wrap {
    padding: 69px 0 77px;
    color: #ffffff;
}
.services__title {
    font-size: 30px;
    font-family: 'Segoe UI Light', arial, sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 44px;
}
.services__title::after {
    display: block;
    content: "";
    width: 45px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.service__item {
    width: 260px;
    float: left;
}
.service__item:first-child {
    margin-right: 40px;
}
.service__item:nth-child(2) {
    margin-right: 36px;
}
.service__item:nth-child(3) {
    margin-right: 43px;
}
.service__item:last-child {
    margin-right: 0;
}
.bg-ico_coffee {
    width: 34px;
    height: 48px;
    background: url('../img/css_sprites.png') -146px -10px;
}
.bg-ico_dslr {
    width: 47px;
    height: 48px;
    background: url('../img/css_sprites.png') -10px -78px;
}
.bg-ico_frame {
    width: 48px;
    height: 48px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.bg-ico_instant {
    width: 48px;
    height: 48px;
    background: url('../img/css_sprites.png') -78px -10px;
}
.service__icon {
    margin-bottom: 20px;
}
.service__subtitle {
    color: #ffffff;
    font-family: "Segoe UI - Semi Bold", arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 11px;
}
.service__descr {
    color: #ffffff;
    /*font-family: "Segoe UI - Semi Bold", arial, sans-serif;*/
    font-size: 12px;
    line-height: 18px;
}
/*---------------------------Конец блока services---------------------------*/

/*---------------------------Начало блока portfolio---------------------------*/
.portfolio {
    width: 100%;
    background-color: #ffffff;
}
.portfolio__wrap {
    padding: 69px 0 50px;
}
.portfolio__title {
    color: #515f67;
    font-family: 'Segoe UI Light', arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    float: left;
    /*width: 50%;*/
    text-align: left;
    margin-right: 40.68%;
}
.portfolio__label {
    float: left;
    color: #515f67;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 15px 3px 18px;
    border: 2px solid transparent;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 80px;
    cursor: pointer;
    transition: 0.3s;
}
.portfolio__label:hover {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}
.portfolio__label--journal {
    margin-right: 0;
}
.portfolio__title::after {
    display: block;
    content: "";
    width: 45px;
    height: 2px;
    background-color: #515f67;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.portfolio__radio {
    display: none;
}
.portfolio__radio--all:checked ~ .portfolio__label--all,
.portfolio__radio--panoramas:checked ~ .portfolio__label--panoramas,
.portfolio__radio--portraits:checked ~ .portfolio__label--portraits,
.portfolio__radio--macro:checked ~ .portfolio__label--macro,
.portfolio__radio--journal:checked ~ .portfolio__label--journal {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}
.portfolio__tab {
    margin-right: -30px;
}
.portfolio__img {
    display: block;
    width: 270px;
    height: 270px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 30px 30px 0;
}
.portfolio__img::before {
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 270px;
    height: 270px;
    color: #ffffff;
    font-size: 72px;
    font-family: 'Segoe UI Light', arial, sans-serif;
    content: "";
    background: rgb(81, 95, 103) url("../img/ico_plus.png") center center no-repeat;
    opacity: 0;
    /*z-index: 100;*/
}
.portfolio__img:hover::before {
    opacity: 0.9;
}

.portfolio__img--holder::after {
    display: block;
    content: "";
    width: 270px;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: rgba(151, 151, 151, 0.5);*/
    background-color: rgba(125, 125, 125, 0.5);
}
.portfolio__img:hover::after {
     display: none;
 }

.all-tab,
.panoramas-tab,
.portraits-tab,
.macro-tab,
.journal-tab {
    display: none;
}
.portfolio__radio--all:checked ~.all-tab {
    display: block;
}
.portfolio__radio--panoramas:checked ~.panoramas-tab {
    display: block;
}
.portfolio__radio--portraits:checked ~.portraits-tab {
    display: block;
}
.portfolio__radio--macro:checked ~.macro-tab {
    display: block;
}
.portfolio__radio--journal:checked ~.journal-tab {
    display: block;
}
/*---------------------------Конец блока portfolio---------------------------*/

/*---------------------------Начало блока default---------------------------*/
.default {
    width: 100%;
    background-color: #515f67;
}
.default__wrap {
    padding: 69px 0 76px;
}
.default__title {
    color: #ffffff;
    font-family: 'Segoe UI Light', arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    /*float: left;*/
    margin-bottom: 39px;
}
.default__title::after {
    display: block;
    content: "";
    width: 45px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.default__descr {
    max-width: 469px;
    float: left;
}
.default__text {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.default__text:nth-child(2) {
    margin-bottom: 23px;
}
.default__link {
    margin-top: 33px;
    display: inline-block;
    width: 140px;
    height: 45px;
    border: 2px solid #353f46;
    color: #353f46;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    transition: 0.3s;
}
.default__link:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}
.default__video {
    float: right;
    margin-top: 11px;
}
/*---------------------------Конец блока default---------------------------*/

/*---------------------------Начало блока twitter---------------------------*/
.twitter {
    width: 100%;
    background-color: #4bcaff;
}
.twitter__wrap {
    padding: 69px 0 76px;
}
.twitter__title {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Segoe UI Light', arial, sans-serif;
    position: relative;
}
.twitter__title::after {
    display: block;
    content: "";
    width: 45px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.twitter__text {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Segoe UI Light', arial, sans-serif;
    line-height: 50px;
}
.twitter__link {
    color: #ffffff;
    font-family: "Segoe UI - Semi Bold", arial, sans-serif;
}
/*---------------------------Конец блока twitter---------------------------*/